@charset "utf-8";
/* google web font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;600&family=Kanit:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'IBM Plex Sans KR', 'Noto Sans KR', 'Ubuntu', 'Kanit', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}
.gototop {
    background-color:rgba(26, 26, 112);
    position: fixed;
    right: 150px;
    bottom: 170px;
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.gototop.active {
    visibility: visible;
    opacity: 1;
}
.gototop a {
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 768px) {
    .gototop {
        position: fixed;
        right: 50px;
        bottom: 100px;
        background-color: rgb(128, 114, 52);
        font-size: 40px;
        line-height: 20px;
        text-align: center;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
}